altgraph==0.17
future==0.18.2
hidapi==0.14.0
https://github.com/danthedeckie/simpleeval/archive/41c99b8e224a7a0ae0ac59c773598fe79a4470db.zip
keyboard==0.13.5
macholib==1.14
pefile==2019.4.18
pyinstaller-hooks-contrib==2021.2
pyinstaller==4.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5==5.15.4
pywin32==306; sys_platform == 'win32'
certifi
