git+https://github.com/vial-kb/cython-hidapi@88d8983b3dc65b9ef84238abe3f46004b0ef2fd0#egg=hidapi
# fork of fbs that is py 3.10 compatible
git+https://github.com/rnbwdsh/fbs
certifi==2022.6.15
keyboard==0.13.5
macholib==1.16
pefile==2022.5.30
pyqt5==5.15.7
simpleeval==0.9.12
pyinstaller==4.10
pywin32==304; sys_platform == 'win32'
